#movie
  .show{ itemscope: true, itemtype: "http://schema.org/Movie"}
    %h1
      映画「
      %span{itemprop: "name"}#{@movie.title}
      」の予告動画とあらすじ
    %ul.social
      %li.twitter
        = link_to "https://twitter.com/intent/tweet?url=#{request.original_url}" do
          %i.fa-twitter.fa
          .comment Twitter
      %li.facebook
        = link_to "http://www.facebook.com/sharer.php?u=#{request.original_url}" do
          %i.fa-facebook.fa
          .comment Facebook
      %li.line
        = link_to "http://line.me/R/msg/text/?#{request.original_url}" do
          %i.fa-share-alt.fa
          .comment Line
      %li.google
        = link_to "https://plus.google.com/share?url=#{request.original_url}" do
          %i.fa-google.fa
          .comment Google+
    .youtube
      %iframe{src: "https://www.youtube.com/embed/#{@movie.youtube.youtube_id}", frameborder: "0", allowfullscreen: true }
    - if @movie.story.present?
      %h2.headline あらすじ
      %span{itemprop: "description"}= simple_format @movie.story.gsub("。", "。\n")
    - if @movie.description.present?
      %h2.headline 解説
      %span{itemprop: "text"}= simple_format @movie.description.gsub("。", "。\n")
    - @movie.metas.each do |meta|
      - if meta.movies.count > 4
        = link_to meta_path(meta) do
          %h2.headline
            #{meta.status}「
            %span{itemprop: "#{meta.schema}", itemscope: true, itemtype: "http://schema.org/Person"}
              %span{itemprop: "name"}= meta.name
            」の関連映画
          - meta.movies.where.not(id: @movie.id).limit(3).each do |related|
            = link_to movie_path(related) do
              %li.related
                %img{src: "#{related.youtube.thumbnail}"}
                %h4.label= related.title
    - if @movie.comments.present?
      %h2.headline #{@movie.youtube.title} の感想
      - @movie.comments.each do |comment|
        .review{itemprop: "review", itemscope: true, itemtype: "http://schema.org/Review"}
          .body
            %span{itemprop: "reviewBody"}= comment.text
          .info
            %span.published{itemprop: "datePublished"}= comment.created_at.strftime("%Y年 %m月 %d日")
            %span.user{itemprop: "author"}= comment.user_name
    = form_tag(:controller => "movies", :action => "comment") do
      = label(:user_name, "名前")
      = text_field(:user_name, "", class: "name")
      = label(:text, "感想")
      = text_area(:text, "", class: "text")
      = submit_tag "作成"