#feed.content
  %ul
    - movies.each do |movie|
      = link_to movie_path(movie.id) do
        %li.cf
          .thumnail{ style: "background-image: url(#{movie.youtube.thumbnail});"}
          %h2
            - if movie.title.size > 20
              = movie.title[0, 20] + '...'
            - else
              = movie.title
          %h3
            = movie.story[0, 200] + '...'