!!!
%html
  %head
    = render :partial => "layouts/meta_tags"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css'
    = csrf_meta_tags
  %body
    %header
      .container
        %h2.title
          = link_to "Decopon", root_path
        %p.description
          今話題の新作映画をチェック
        = form_tag(search_movies_path, class: "search-box") do
          = text_field_tag(:q, "", class: "box middle")
          = button_tag type: "submit", class: "search middle" do
            = fa_icon "search"
    - if @breads.present?
      .breads
        .container
          = render :partial => "layouts/breads"
    / - @notify = {message: "メッセージ"}
    - if @notify.present?
      .alert-box
        .center.message= @notify[:message]
    .container
      .contents
        %section.main
          = yield
        %section.side-bar
          %h2 新着映画
          - Movie.order("created_at desc").limit(20).each do |movie|
            = link_to movie_path(movie) do
              %li
                %img{src: "#{movie.youtube.thumbnail}"}
                %h4.label= movie.title
        .cf
    %footer
      %li.center
        = link_to "お問い合わせ", "mailto:smartdouzin@gmail.com?subject=問い合わせ&amp;body=ご記入ください"
